/* Styles for the entire login container */


.login-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url('https://res.cloudinary.com/dw0niuzdf/image/upload/Sale-bear-images/mzxhzrnvs7bumbihzpcs.jpg') no-repeat center center; */
  background-size: cover;
  z-index: -100;
}

.login-box input {
  pointer-events: auto;
}
/* Box container for the form */
.login-box {
  z-index: 10; /* Đảm bảo giá trị cao hơn nền */
  position: relative;
  top: 25vh;
  text-align: center;
}

/* Header of the form */
.login-box h3 {
  font-size: bold;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Input field styling */
.login-box input[type="text"],
.login-box input[type="password"] {
  height: 46px;
  width: 350px;
  border-radius: 46px;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: rgba(67, 34, 167, 0.4);
}

.login-box input::placeholder {
  color: #ddd;
  opacity: 1;
  /* Ensure it's fully opaque */
}

/* Input focus state */

/* Button styling */
.login-box .btn-loginAdmin {
  width: 120px;
  padding: 12px 15px;
  background: linear-gradient(135deg, #2010ac, #09b8f3);
  border: none;
  border-radius: 45px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.login-box .btn-loginAdmin:hover {
  background: linear-gradient(135deg, #09b8f3, #140691);
}

/* Error message styling */
.login-box p {
  color: red;
  margin-top: 15px;
}